<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/tst.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/FacebookScript.js"></script>
	<link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet" >
    <link href="css/bootstrap-social.css" rel="stylesheet" >
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="980135476714-ibh5p28a48dv40h32eadbeagnfn5qq3m.apps.googleusercontent.com">
	<script>
	function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        if (profile != null || profile != undefined || profile != '') {
            localStorage.setItem("oauth","google");
            // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            // console.log('Username: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            window.location.href = 'index.html?'+ profile.getName();
        }
        else {
            alert('Google Sign In Failed!');
        }
    }
	</script>
	<script src="../../CS5551_TEAM8_LABASSIGN50/Lab1/SourceCode/OauthScript.js"></script>
</head>
<body>
<div class="bg-class">
	<!--<img class="img-responsive" src="tst1.jpg" width=100%>-->
<center>
<div class="col-md-4 col-md-offset-4" ng-app="demoMongo" ng-controller="getController">
    <div class="box-content profile">
        <h3 class="widget-title">Login Page</h3>
        <form class="contact-form simple-form">
            <fieldset>
                <p><input type="text" style="width: 100%; left:45%; position: relative" id="myusername" ng-model="uname" placeholder="User Name" required ></p>
				<br>
                <input type="password" style="width: 100%; left:45%; position: relative" id="mypassword" ng-model="password" placeholder="Password" required>
                <br>
				<br>
                <input type="button" class="button" style="padding:9px 18px; left: 68%;position: relative"
                       value="Login"
					   ng-click="getDbData()">

				<a href="" ng-click="getPassword()"><u style="position: relative;left:66%;font-size: 10px">forgot password?</u></a>
            </fieldset>
        </form>

		<!--<div id="finalError" class="error-fields"></div>-->
		<!--<span ng-model="finalError" class="error-fields"></span>-->
        <input type="text"  style="width: 100% ;border: 0px; background-color: #F5F5F5; color: red" ng-model="finalErr">
        <div class="form-group">
			<div class="col-md-12 control"> 
				<div class="no-acc"> 
					Don't have an account! 
					<a href="RegisterPage.html"> Sign Up Here </a> 									 
				</div> 
			</div> 
		</div> 
		<!-- <strong>OR</strong> -->
		<br>
		<div style="display: none" class="form-group"> 
			<div class="col-sm-12 controls">
				<div class="g-signin2" data-cookiepolicy='single_host_origin' data-onsuccess="onSignIn"></div>
				<br>
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
				<div id="status">
				</div>
			</div> 
		</div>
		<br>			
    </div>						
</div>
</center></div>
</body>
<script src="js/app.js"></script>
</html>